{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="app/css/style.css">
    <script src="{% static 'js/main.js' %}"></script>

</head>
<div class="container-fluid bg-dark text-white"> <!-- Use container-fluid for full-width -->

    <!-- <div class="custom-content" style="background-image: url('{% static "images/header1.jpg" %}');">
        {% if t == 's' %}
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h3 class="text-primary">Sorry! This movie is not in our database.</h3>
            <h3 class="text-primary">Please check if you spelled it correctly.</h3>
            <h3 class="text-primary">Or try with another movie.</h3>
        </div>
        {% else %}
        <div class="shadow p-3 mb-5  rounded">
            <h1 class="text-primary">"{{ movie }}" is a great choice.</h1>
            <h3 class="text-primary">Here are some more like this:</h3>
        </div>
        {% endif %}
    </div> -->
    
    <!-- <div class="custom-content" style="background-image: url('{% static "images/header1.jpg" %}');">
        {% if t == 's' %}
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h3 class="text-primary">Sorry! This movie is not in our database.</h3>
            <h3 class="text-primary">Please check if you spelled it correctly.</h3>
            <h3 class="text-primary">Or try with another movie.</h3>
        </div>
        {% else %}
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h1 class="text-primary">"{{ movie }}" is a great choice.</h1>
            <h3 class="text-primary">Here are some more like this:</h3>
        </div>
        {% endif %}
    </div> -->
    
    <div class="custom-content">
        {% if t == 's' %}
        <div class="shadow p-3 mb-5  rounded">
            <h3 class="recomendeed_movie_text">Sorry! This movie is not in our database.</h3>
            <h3 class="recomendeed_movie_text">Please check if you spelled it correctly.</h3>
            <h3 class="recomendeed_movie_text">Or try with another movie.</h3>
        </div>
        {% else %}
        <div class="shadow p-3 mb-5  rounded">
            <h1 class="recomendeed_movie_text">"{{ movie }}" is a great choice.</h1>
            <h3 class="recomendeed_movie_text">Here are some more like this:</h3>
        </div>
        {% endif %}
    </div>
    

    <!-- <div id="tag"class="content">
        <div class="custom-content">
        {% if t == 's' %}
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h3 class="text-primary">Sorry! This movie is not in our database.</h3>
            <h3 class="text-primary">Please check if you spelled it correctly.</h3>
            <h3 class="text-primary">Or try with another movie.</h3>
        </div>
        {% else %}
        <div class="shadow p-3 mb-5 bg-white rounded">

            <h1 class="text-primary">"{{ movie }}" is a great choice.</h1>
            <h3 class="text-primary">Here are some more like this:</h3>
        </div>
        </div> -->
        <!-- <div class="hero-slider">
            <div class="slide">
                <img src="{% static 'images/header1.jpg' %}" alt="Image 1">
            </div>
            <div class="slide">
                <img src="{% static 'images/header2.jpg' %}" alt="Image 2">
            </div>
            <div class="slide">
                <img src="{% static 'images/header3.jpg' %}" alt="Image 3">
            </div>
            <div class="slide">
                <img src="{% static 'images/header4.jpg' %}" alt="Image 4">
            </div>
        </div> -->

        
        
        <!-- <h1>hello >>>>>>>>>>>>>>>>>>.{{movie}}$${{movie_display}}</h1> -->\
         {% comment %} {{r}} {% endcomment %}
        <div class="row">
            {% for mvi, poster in r %}
            <div class="col-md-2 col-sm-6 col-md-2">
                <div class="card mb-4 movie-card">
                    <img src="{{ poster }}" alt="{{ mvi }}" class="card-img-top" loading="lazy" style="height: 300px; object-fit: cover;">
                    <div class="card-body text-center" style="height: 100px; object-fit: cover;">
                        <h5 class="card-title">
                            <!-- Title with functionality to find a trailer of the movie -->
                            <!-- <a href="https://www.youtube.com/results?search_query={{ mvi|urlencode }}+trailer" target="_self" class="text-success">{{ mvi|title }}</a> -->
                        </h5>
                        <!-- IMDb search button -->
                        <!-- <a href="https://www.imdb.com/find?q={{ mvi|urlencode }}" target="_self" class="imdb-button">IMDb Rating</a> -->
                        <!-- Movie details button that redirects to the details page -->
                        <a href="{% url 'movie_details' mvi %}" target="_self" class="movie-details">{{ mvi|title }}</a>
                    </div>
                </div>
            </div>
        
            {% if forloop.counter|divisibleby:6 %}
            </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

<style>
    body{
        margin: 0;
    }
    .content {
        padding: 20px; /* Add padding as needed */
        overflow-y: auto; /* Allow scrolling if content overflows */
        width: 100%; /* Make sure content takes the full width */
    }

    .movie-card {
        background-color: rgba(75, 70, 70, 0.9); /* Slightly transparent white */
        transition: transform 0.3s; /* Smooth transition */
        height: 350px; /* Fixed height for cards */
    }

    .movie-card:hover {
        transform: scale(1.05); /* Slightly scale up on hover */

    }

    .imdb{
        background-color: yellow;
        color: black;
    }

    #imdb{
        background-color: yellow;
    }
</style>
